---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
ColumnLimit: 160
AlignEscapedNewlines: Left
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<[[:alnum:].]+>'
    Priority: 1
  - Regex: '.*'
    Priority: 2
PointerAlignment: Left
SortIncludes: true
...

